      <% if incident.status_id < 3%>
      <li class="incident" data-time="<%= incident.created_at.to_i %>"> 
        <% puts case incident.status.id%>
          <%when 1%>
            <div class="timeline-badge primary"><span class="glyphicon glyphicon-bullhorn"></span></div>
          <%when 2%>
            <div class="timeline-badge warning"><span class="glyphicon glyphicon-eye-open"></span></div>
          <%when 3%>
            <div class="timeline-badge success"><span class="glyphicon glyphicon-check"></span></div>
          <%when 4%>
            <div class="timeline-badge"><span class="glyphicon glyphicon-ban-circle"></span></div>  
          <% end %>
        
        <div class="timeline-panel" data-time="<%= incident.created_at.to_i %>">
          <div class="timeline-heading">
            <div style="width:95%"> 
            <h4 class="timeline-title" style="word-break:break-all">Location: <%= incident.location %></h4>
            </div>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Report at: <%= incident.created_at %></small></p>
          </div>
          <% puts case incident.severity%>
            <%when 1%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(255,50,0,0.9) ">
            <%when 2%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(255,102,0,0.7)">
            <%when 3%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(255,255,0,0.5)">
            <%when 4%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(0,158,255,0.3)">
            <%when 5%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(0,255,0,0.1)">
          <% end %>
            <b>Severity: </b><%= incident.severity %><br>
            <b>Category: </b><%= incident.cate.cate_name %><br>
            <b>Reporter: </b><%= Person.find(incident.reporter_id).user_name %> <br>
            <b>Status:</b>
            <% puts case incident.status.id%>
              <%when 1%>
                <font color="blue"><b><%= incident.status.status_name%></b></font>
              <%when 2%>
                <font color="orange"><b><%= incident.status.status_name%></b></font>
              <%when 3%>
                <font color="green"><b><%= incident.status.status_name%></b></font>
              <%when 4%>
                <font color="gray"><b><%= incident.status.status_name%></b></font>
              <% end %><br>
             </div> 
            
            <div style="float: right; width: 40%">
              <center style="width: 100%"> <%= image_tag incident.cover.url(:icon), :width => "50%", :height => "50%"%> </center>
            </div>

            <div style="padding-top:10px"></div>
            <div style="float: right">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          incident_path(incident), :class => 'btn btn-info btn-xs'%>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_incident_path(incident), :class => 'btn btn-primary btn-xs' %> 
            </div>
            
        </div>
      </li>
      <% else %>
      <li class="timeline-inverted">
        <% puts case incident.status.id%>
          <%when 1%>
            <div class="timeline-badge primary"><span class="glyphicon glyphicon-bullhorn"></span></div>
          <%when 2%>
            <div class="timeline-badge warning"><span class="glyphicon glyphicon-eye-open"></span></div>
          <%when 3%>
            <div class="timeline-badge success"><span class="glyphicon glyphicon-check"></span></div>
          <%when 4%>
            <div class="timeline-badge"><span class="glyphicon glyphicon-ban-circle"></span></div>      
          <% end %>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <div style="width:95%"> 
            <h4 class="timeline-title" style="word-break:break-all">Location: <%= incident.location %></h4>
          </div>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Report date and time:<%= incident.created_at %></small></p>
        </div>
       <% puts case incident.severity%>
            <%when 1%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(255,50,0,0.9) ">
            <%when 2%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(255,102,0,0.7)">
            <%when 3%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(255,255,0,0.5)">
            <%when 4%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(0,158,255,0.3)">
            <%when 5%>
              <div class="timeline-body" style="float: left; width: 60%;background-color:rgba(0,255,0,0.1)">
          <% end %>
            <b>Severity: </b><%= incident.severity %><br>
            <b>Category: </b><%= incident.cate.cate_name %><br>
            <b>Reporter: </b><%= Person.find(incident.reporter_id).user_name %> <br>
            <b>Status:</b>
            <% puts case incident.status.id%>
              <%when 1%>
                <font color="blue"><b><%= incident.status.status_name%></b></font>
              <%when 2%>
                <font color="orange"><b><%= incident.status.status_name%></b></font>
              <%when 3%>
                <font color="green"><b><%= incident.status.status_name%></b></font>
              <%when 4%>
                <font color="gray"><b><%= incident.status.status_name%></b></font>
              <% end %><br>
             </div> 
            
            <div style="float: right; width: 40%">
              <center style="width: 100%"> <%= image_tag incident.cover.url(:icon), :width => "50%", :height => "50%"%> </center>
            </div>

            <div style="padding-top:10px"></div>
            <div style="float: right">
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          incident_path(incident), :class => 'btn btn-info btn-xs'%>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_incident_path(incident), :class => 'btn btn-primary btn-xs' %> 
            </div>
            
        </div>
    </li>
      <% end %>