<style>


.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background-color: white;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}



</style>

<div class="container col-md-10 col-md-offset-1">
  <div class="page-header">
    <h1>Timeline of Incidents</h1>
  </div>
  <ul class="timeline">
    <% @incidents.each do |incident| %>
      <% if incident.status_id < 3%>
      <li > 
        <% puts case incident.status.id%>
          <%when 1%>
            <div class="timeline-badge primary"><span class="glyphicon glyphicon-bullhorn"></span></div>
          <%when 2%>
            <div class="timeline-badge warning"><span class="glyphicon glyphicon-eye-open"></span></div>
          <%when 3%>
            <div class="timeline-badge success"><span class="glyphicon glyphicon-check"></span></div>
          <%when 4%>
            <div class="timeline-badge"><span class="glyphicon glyphicon-ban-circle"></span></div>  
          <% end %>
        
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Location: <%= incident.location %></h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Report at: <%= incident.created_at %></small></p>
          </div>
          <% puts case incident.severity%>
            <%when 1%>
              <div class="timeline-body" style="background-color:rgba(255,50,0,0.9)">
            <%when 2%>
              <div class="timeline-body" style="background-color:rgba(255,102,0,0.7)">
            <%when 3%>
              <div class="timeline-body" style="background-color:rgba(255,255,0,0.5)">
            <%when 4%>
              <div class="timeline-body" style="background-color:rgba(0,158,255,0.3)">
            <%when 5%>
              <div class="timeline-body" style="background-color:rgba(0,255,0,0.1)">
          <% end %>
          
            <b>Severity: </b><%= incident.severity %><br>
            <b>Category: </b><%= incident.cate.cate_name %><br>
            <b>Reporter: </b><%= Person.find(incident.reporter_id).user_name %> <br>
            <b>Status:</b>
            <% puts case incident.status.id%>
              <%when 1%>
                <font color="blue"><b><%= incident.status.status_name%></b></font>
              <%when 2%>
                <font color="orange"><b><%= incident.status.status_name%></b></font>
              <%when 3%>
                <font color="green"><b><%= incident.status.status_name%></b></font>
              <%when 4%>
                <font color="gray"><b><%= incident.status.status_name%></b></font>
              <% end %><br>
             </div> 

            <div style="padding-top:10px"></div>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          incident_path(incident), :class => 'btn btn-info btn-xs'%>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_incident_path(incident), :class => 'btn btn-primary btn-xs' %> 
        </div>
      </li>
      <% else %>
      <li class="timeline-inverted">
        <% puts case incident.status.id%>
          <%when 1%>
            <div class="timeline-badge primary"><span class="glyphicon glyphicon-bullhorn"></span></div>
          <%when 2%>
            <div class="timeline-badge warning"><span class="glyphicon glyphicon-eye-open"></span></div>
          <%when 3%>
            <div class="timeline-badge success"><span class="glyphicon glyphicon-check"></span></div>
          <%when 4%>
            <div class="timeline-badge"><span class="glyphicon glyphicon-ban-circle"></span></div>      
          <% end %>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Location: <%= incident.location %></h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Report date and time:<%= incident.created_at %></small></p>
        </div>
       <% puts case incident.severity%>
            <%when 1%>
              <div class="timeline-body" style="background-color:rgba(255,0,0,0.8)">
            <%when 2%>
              <div class="timeline-body" style="background-color:rgba(255,0,0,0.6)">
            <%when 3%>
              <div class="timeline-body" style="background-color:rgba(255,0,0,0.4)">
            <%when 4%>
              <div class="timeline-body" style="background-color:rgba(255,0,0,0.2)">
            <%when 5%>
              <div class="timeline-body" style="background-color:rgba(255,0,0,0.1)">
          <% end %>
            <b>Severity: </b><%= incident.severity %><br>
            <b>Category: </b><%= incident.cate.cate_name %><br>
            <b>Reporter: </b><%= Person.find(incident.reporter_id).user_name %> <br>
            <b>Status:</b>
            <% puts case incident.status.id%>
              <%when 1%>
                <font color="blue"><b><%= incident.status.status_name%></b></font>
              <%when 2%>
                <font color="orange"><b><%= incident.status.status_name%></b></font>
              <%when 3%>
                <font color="green"><b><%= incident.status.status_name%></b></font>
              <%when 4%>
                <font color="gray"><b><%= incident.status.status_name%></b></font>
              <% end %><br>
              </div>
            <div style="padding-top:10px"></div>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        incident_path(incident), :class => 'btn btn-info btn-xs'%>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_incident_path(incident), :class => 'btn btn-primary btn-xs' %>
        
      </div>
    </li>
      <% end %>
    <% end %>
  </ul>
</div>












