
<div class="container col-md-10 col-md-offset-1" style="background-image: url('/images/confectionary.png')">
  <div class="page-header">
    <h1>Timeline of Incidents</h1>
  </div>


  <div class="row">
    <div style="float: left; width: 50%; height: 100%;">
      <div style="margin-left: 5%; float: left;"> 
        <button class="btn btn-primary" type="button">
          Total Reported Incidents:<span id="reported" class="badge"><%= Incident.where(:status => 1).count%></span>
        </button>   
      </div>

      <div style="margin-left: 5%;float: left;"> 
        <button class="btn btn-danger" type="button">
          Total Processing Incidents:<span id="processing" class="badge"><%= Incident.where(:status => 2).count%></span>
        </button>
      </div>

    </div>

    <div style="float: left; width: 50%; height: 100%;">
      <div style="margin-left: 5%;float: left;"> 
        <button class="btn btn-success" type="button">
          Total Solved Incidents:<span id="solved" class="badge"><%= Incident.where(:status => 3).count%></span>
        </button>   
      </div>

      <div style="margin-left: 5%;float: left;"> 
        <button class="btn btn-default" type="button">
          Total Closed Incidents:<span id="closed" class="badge"><%= Incident.where(:status => 4).count%></span>
        </button>
      </div>
    </div>





  </div>
 
 <p id="show_incidents" style="display: none">
    New incidents have been posted. <a href="#">Show Incidents</a>
 </p>

  <ul class="timeline">
    <%= render @incidents %>
  </ul>
  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script type="text/javascript">
  $(function() {
    console.log($(".timeline").is(':visible'));
    console.log($("#groupDiv").is(':visible'));

    if($(".timeline").is(':visible')) {
      console.log("in function");
      setTimeout(updateIncidents, 10000);
    } 
});

function updateIncidents () {
  if($(".timeline").is(':visible')) {
    if ($(".timeline").children().length > 0) {
        var after = $(".timeline").children().first().attr("data-time");
    } else {
        var after = "0";
    }
    console.log(after);
    $.getScript("/incidents.js?after=" + after)
    setTimeout(updateIncidents,10000)
  }
}
</script>

