<%- model_class = Incident -%>
<div class="page-header" style = "margin-left: 5%;">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class = "row">
  <%= @incident.cover.url(:icon) %>

  <div style="float: left; width: 70%;">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt>
      <dd style="word-break:break-all"><%= @incident.location %></dd>
      <dt><strong><%= model_class.human_attribute_name(:status_id) %>:</strong></dt>
      <dd><%= @incident.status.status_name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:report_date_time) %>:</strong></dt>
      <dd><%= @incident.created_at %></dd>
      <dt><strong><%= model_class.human_attribute_name(:processed_date_time) %>:</strong></dt>
      <dd><%if @incident.processed_date_time == nil %>
          Not available
          <%else%>
          <%= @incident.processed_date_time%> 
          <%end%>
      </dd>
      <dt><strong><%= model_class.human_attribute_name(:solved_date_time) %>:</strong></dt>
      <dd><%if @incident.solved_date_time == nil %>
          Not available
          <%else%>
          <%= @incident.solved_date_time%> 
          <%end%></dd>
      <dt><strong><%= model_class.human_attribute_name(:closed_date_time) %>:</strong></dt>
      <dd><%if @incident.closed_date_time == nil %>
          Not available
          <%else%>
          <%= @incident.closed_date_time%> 
          <%end%></dd>
      <dt><strong><%= model_class.human_attribute_name(:severity) %>:</strong></dt>
      <dd><%= @incident.severity %></dd>
      <dt><strong>Category:</strong></dt>
      <dd><%= @incident.cate.cate_name %></dd>
      <dt><strong>Other category</strong>:</dt>
      <dd style="word-break:break-all"><%if @incident.other_cate_description == nil %>
          Not available
          <%else%>
          <%= @incident.other_cate_description%> 
          <%end%></dd>
      <dt><strong><%= model_class.human_attribute_name(:incident_description) %>:</strong></dt>
      <dd style="word-break:break-all"><%if @incident.incident_description == "" %>
          Not available
          <%else%>
          <%= @incident.incident_description%> 
          <%end%></dd>
      <dt><strong>Reporter:</strong></dt>
      <dd><%= @incident.reporter.user_name %></dd>
      <dt><strong>Assignee:</strong></dt>
      <dd><%if @incident.assignee_id == nil %>
          Not available
          <%else%>
          <%= @incident.assignee.user_name%> 
          <%end%></dd>
    </dl>

    <div style="float: right; width: 30%;">
    <center style="width: 100%"> <%= image_tag @incident.cover.url(:icon), :width => "50%", :height => "50%"%> </center>
  </div>
  </div>
</div>

<div style="margin-left: 5%;">
  <%= link_to t('.back', :default => t("helpers.links.back")),
                incidents_path, :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_incident_path(@incident), :class => 'btn btn-default' %>
</div>
