<div class="container col-md-10 col-md-offset-1" style="background-image: url('/images/confectionary.png')">
  <div class="page-header">
    <h1>API DOCS</h1>
  </div>

  <div> 

    <p><%= link_to "API Document", apidoc_menu_path %></p>



      <button class="btn btn-primary" type="button" style="margin: 1%; width: 43%;">
        <div class="img" style="margin: 4%; width: 18%; float:left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.7 65.9" enable-background="new 0 0 54.7 65.9">
              <path fill="#fff" d="M27.4 65.9c-15.1 0-27.4-12.2-27.4-27.3 0-15.1 12.3-27.4 27.4-27.4 15.1 0 27.4 12.3 27.4 27.4-.1 15.1-12.3 27.3-27.4 27.3zm0-53.7c-14.6 0-26.4 11.8-26.4 26.4 0 14.5 11.8 26.4 26.4 26.4 14.5 0 26.4-11.8 26.4-26.4-.1-14.6-11.9-26.4-26.4-26.4zm-7.9-12.2h15.7v1h-15.7zm31.151 14.254l.707.707-4.808 4.808-.707-.707zm-19.451-2.354h-1v-10.9h-5.7v10.9h-1v-11.9h7.7zm18.745.952l2.829 2.828-.707.707-2.829-2.828zm-35.376 12.699l12.728 12.728-.707.707-12.728-12.728z"></path>
            </svg>
        </div>
        <div style="margin: 10%;width: 90%;"> 
          <span class="badge" style="margin: 1%"><h4><%= link_to "Overview", apidoc_overview_path %></h4></span>
        </div>
        <p style="word-break: break-all"> The description and advantages of our API</p>
      </button>    

      <button class="btn btn-danger" type="button" style="margin: 1%; width: 43%;">
        <div class="img" style="margin: 4%; width: 18%; float:left">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.7 70.8" enable-background="new 0 0 59.7 70.8">
              <path fill="#fff" d="M59.7 70.8h-59.7v-70.8h59.7v70.8zm-58.7-1h57.7v-68.8h-57.7v68.8zm21.8-47.5h25.6v1h-25.6zm0 14.8h25.6v1h-25.6zm0 14.9h25.6v1h-25.6zm-13.4-30l-2.6-2.6.7-.7 1.9 1.9 7.1-7.1.7.7zm0 14.9l-2.6-2.7.7-.7 1.9 2 7.1-7.1.7.7z"></path>
            </svg>
        </div>
        <div style="margin: 10%;width: 90%;"> 
          <span class="badge" style="margin: 1%"> <h4><%= link_to "Getting Started", apidoc_start_path %></h4> </span>
        </div>
        <p style="word-break:break-all"> A set of simple tutorials with examples on how to use our API</p>
      </button>  
 
      <button class="btn btn-success" type="button" style="margin: 1%; width: 43%;">
        <div class="img" style="margin: 4%; width: 18%; float:left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" enable-background="new 0 0 80 80"><path fill="#fff" d="M16.27 54.9l-15.2-15.2 15.2-15.2.71.71-14.49 14.49 14.49 14.49zm48.24 0l-.71-.71 14.49-14.49-14.49-14.49.71-.71 15.2 15.2zm-9.293-41.262l.863.506-30.284 51.621-.863-.506z"></path></svg>
        </div>
        <div style="margin: 10%;width: 90%;"> 
          <span class="badge" style="margin: 1%"> <h4><%= link_to "Sample Code", apidoc_sample_path %></h4> </span> 
        </div>
        <div >The sample code demonstrates how to make a REST request <br>in different languages.</div>
      </button>    
  
      <button class="btn btn-warning" type="button" style="margin: 1%; width: 43%;">
        <div class="img" style="margin: 4%; width: 18%; float:left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.07 68.74" enable-background="new 0 0 77.07 68.74"><path fill="#fff" d="M31.95 68.74l-.23-.11-31.72-15.86v-48.27l31.95 14.75 31.95-14.75v10.08h-1v-8.51l-30.95 14.28-30.95-14.28v46.08l30.95 15.47 30.95-15.47v-5.75h1v6.37zm0-55.64l-24.42-12.21.45-.89 23.97 11.98 23.96-11.98.45.89z"></path><path d="M31.95 68.18m0-48.38" stroke="#fff" stroke-miterlimit="10" fill="none"></path><path d="M63.4 44.22c-7.54 0-13.68-6.14-13.68-13.68s6.14-13.68 13.68-13.68 13.67 6.14 13.67 13.69c0 7.54-6.13 13.67-13.67 13.67zm0-26.35c-6.99 0-12.68 5.69-12.68 12.68s5.68 12.67 12.68 12.67 12.68-5.69 12.68-12.68-5.69-12.67-12.68-12.67zm-.58 6.16h1v13.09h-1zm-6.04 6.04h13.09v1h-13.09zm-19.83-12.81h1v48.29h-1zm-11.05 0h1v48.29h-1z" fill="#fff"></path></svg>
        </div>
        <div style="margin: 10%;width: 90%;"> 
          <span class="badge" style="margin: 1%"><h4><%= link_to "Reference Material", apidoc_reference_path %></h4></span>
        </div>
        <div >Provide detailed information about each class </div>
        <br>
      </button>  
  </div>

</div>