<div class="container col-md-10 col-md-offset-1" style="background-image: url('/images/confectionary.png')">
  <div class="page-header">
    <h1>API DOCS</h1>
  </div>

  <div> 

    <p><%= link_to "API Document", apidoc_menu_path %></p>



      <button class="btn btn-primary" type="button" style="margin: 4%; width: 40%;">
        <div> <span class="badge"> <h4><%= link_to "Overview", apidoc_overview_path %></h4> </span> </div>
        <p style="word-break:break-all"> The description and advantages of our API</p>
      </button>    

      <button class="btn btn-danger" type="button" style="margin: 4%; width: 40%;">
        <div> <span class="badge"> <h4><%= link_to "Getting Started", apidoc_start_path %></h4> </span> </div>
        <p style="word-break:break-all"> A set of simple tutorials with examples on how to use our API </p>
      </button>  
 
      <button class="btn btn-success" type="button" style="margin: 4%; width: 40%;">
        <div> <span class="badge"> <h4><%= link_to "Sample Code", apidoc_sample_path %></h4> </span> </div>
        <p style="word-break:break-all"> The sample code demonstrates how to make a REST request in different languages.  </p>
      </button>    
  
      <button class="btn btn-default" type="button" style="margin: 4%; width: 40%;">
        <div> <span class="badge"> <h4><%= link_to "Reference Material", apidoc_reference_path %></h4></span> </div>
        <p style="word-break:break-all"> Provide detailed information about each class </p>
      </button>  
  </div>

</div>